

.loading{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.loading-sign{
  font-size: 3rem;
  color: #759242;
}

.spinner {
  margin-left: 15px;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#759242 94%,#0000) top/14.1px 14.1px no-repeat,
          conic-gradient(#0000 30%,#759242);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.1px),#000 0);
   animation: spinner 1s infinite linear;
}

@keyframes spinner {
   100% {
      transform: rotate(1turn);
   }
}
